h1 {
  color: teal;
  background-color: coral;
  text-align: center;
}

/* p {
  /* name */
  /* color: purple; */

  /* Hex Code */
  /* color: #800080; */

  /* RGB */
  /* color: rgb(128, 0, 128);
  background-color: rgb(221, 117, 117);
  /* font-size: 23px; */
  /* font-size: 1.5rem;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
} */ 

div {
  color: greenyellow;
  background-color: darkred;
  text-align: center;
  width: 100px;
  height: 100px;
  border: 5px solid rgb(64, 14, 230);
  border-radius: 10px;
}

#myId {
  width: 300px;
  height: 300px;
  color: cyan;
  background-color: white;
  border: 4px dotted red;
  border-radius: 15px;
  /* margin: 50; */
  margin-top: 50px;
  /* margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px; */
    float: left;
    margin-left: 10px;
}



a{
    text-decoration: none;
    color: chocolate;
    font-size:22px;
    /* font-weight: bold; */
    font-weight: 700;
    background-color: darkmagenta;
    padding: 20px 30px;
    height: 100px;
    width: 150px;
    margin-top: 50px;
    border: 5px solid yellowgreen;
    border-radius: 10px;
}

button{
    color: darkviolet;
    background-color: indianred;
    padding: 20px 30px;
    border: 5px solid rosybrown;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight:700 ;
}

button:hover{
    color: white;
    background-color: darkmagenta;
}

.mySpan{
    background-color: rgb(19, 9, 160);
    color: aqua;
    font-size: 1.5rem;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    float: left;
    width: 30%;
    margin: 10px;
}

hr{
    width: 80%;
}

.mySpan h3{
    color: white;
}

.mySpan p{
    color: black
}